
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel" data-translate="moestuinApp.event.home.createOrEditLabel">Create or edit a Event</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.event.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.event.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="moestuinApp.event.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.event.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="moestuinApp.event.eventOpenTime" for="field_eventOpenTime">Event Open Time</label>
                <div class="input-group">
                    <input id="field_eventOpenTime" type="text" class="form-control" name="eventOpenTime" datetime-picker="{{dateformat}}" ng-model="vm.event.eventOpenTime" is-open="vm.datePickerOpenStatus.eventOpenTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('eventOpenTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="moestuinApp.event.eventCloseTime" for="field_eventCloseTime">Event Close Time</label>
                <div class="input-group">
                    <input id="field_eventCloseTime" type="text" class="form-control" name="eventCloseTime" datetime-picker="{{dateformat}}" ng-model="vm.event.eventCloseTime" is-open="vm.datePickerOpenStatus.eventCloseTime"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('eventCloseTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="moestuinApp.event.active" for="field_active">Active</label>
            <input type="checkbox" class="form-control" name="active" id="field_active"
                    ng-model="vm.event.active"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="moestuinApp.event.throughputPerMinute" for="field_throughputPerMinute">Throughput Per Minute</label>
            <input type="number" class="form-control" name="throughputPerMinute" id="field_throughputPerMinute"
                    ng-model="vm.event.throughputPerMinute"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="moestuinApp.event.maxPassages" for="field_maxPassages">Max Passages</label>
            <input type="number" class="form-control" name="maxPassages" id="field_maxPassages"
                    ng-model="vm.event.maxPassages"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="moestuinApp.event.redirectUrl" for="field_redirectUrl">Redirect Url</label>
            <input type="text" class="form-control" name="redirectUrl" id="field_redirectUrl"
                    ng-model="vm.event.redirectUrl"
                     />
        </div>

        <div class="form-group">
            <label data-translate="moestuinApp.event.tenant" for="field_tenant">Tenant</label>
            <select class="form-control" id="field_tenant" name="tenant" ng-model="vm.event.tenantId" ng-options="tenant.id as tenant.id for tenant in vm.tenants"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
